

body{
    background-color: aqua;
    text-align: center;
}


.far {
    font-size: 3rem;
    margin: 20px 20px;
}

.fas {
    font-size: 3rem;
    margin: 20px 20px;
}

.far:hover {
    cursor: pointer;
}

.btn-safe {
    display: inline;
    border: none;
    border-radius: 5px;
    background-color: rgba(6, 187, 6, 0.508);
    margin: 10px;
    width: auto;
    height: 50px;
}

.btn-safe:active{
    background-color: rgba(1, 38, 1, 0.508);
}

i{
    font-size: 50px;
    margin-bottom: 20px;
}

table{
    margin:auto;
    border: 5px solid black;
    border-radius: 5px;
}

th {
    height: 35px;
    border: none;
}

td.right td{
    background-color: grey;
    width: 35px;
    height: 35px;
    border: 5px solid black;
    border-radius: 5px;
}

.board-container{
    transition: 1s;
    height: 600px;
    width: 600px;
}

.board-container tr{
    max-width: 25%;
    min-width: 8.333%;
    max-height: 25%;
    min-height: 8.333%;
}

/* .board-container td{
    max-width: 25%;
    min-width: 8.333%;
    max-height: 25%;
    min-height: 8.333%;
    transition: 1s;
} */

.board-container td:hover{
    cursor: pointer;
    border: 5px solid red;
}

td.right .clicked {
    background-color: white;
}

.asantiols{
    margin: 10px auto;
}

.life{
    width: 60px;
}

.difficulty{
    margin: 25px auto;
}


input{
    display: inline-block;
}


table.main{
    border: none;
    margin: 10px auto;
}

td.left{
    width: 25%;
}

td.right{
    width: 75%;
    right: auto;
}